@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
}

.row {
	margin-right: 0;
}

::-moz-selection { 
	color: #fff;
	background: #444;
	opacity: 1;
}

::selection { 
	color: #fff;
	background: #444;
	opacity: 1;
}

.wrapper {
	height: 100vh;
}

.demo-container {
	position: fixed;
}

.demo {
	width: 1000px;
	margin-left: -23em;
}

.app-download {
	background-image: url('../images/geo-pattern.png');
	padding: 7em 0 8em;
}

.app-download-underlay {
	background: rgba(18,115,163,1);
	background: -moz-linear-gradient(45deg, rgba(18,115,163,1) 0%, rgba(72,153,194,1) 57%, rgba(75,214,227,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(18,115,163,1)), color-stop(57%, rgba(72,153,194,1)), color-stop(100%, rgba(75,214,227,1)));
	background: -webkit-linear-gradient(45deg, rgba(18,115,163,1) 0%, rgba(72,153,194,1) 57%, rgba(75,214,227,1) 100%);
	background: -o-linear-gradient(45deg, rgba(18,115,163,1) 0%, rgba(72,153,194,1) 57%, rgba(75,214,227,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(18,115,163,1) 0%, rgba(72,153,194,1) 57%, rgba(75,214,227,1) 100%);
	background: linear-gradient(45deg, rgba(18,115,163,1) 0%, rgba(72,153,194,1) 57%, rgba(75,214,227,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1273a3', endColorstr='#4bd6e3', GradientType=1 );
}

.logo {
	width: 150px;
}

h4 {
	margin: 50px 0 30px;
	color: #ffd200;
	font-size: 90%;
	font-weight: 700;
	letter-spacing: 2px;
}

h1 {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 40px;
	color: #fff;
	margin-bottom: 30px;
}

.desc {
	font-size: 90%;
	color: #fff;
	opacity: 0.5;
	line-height: 20px;
	letter-spacing: 0;
	width: 300px;
	margin-bottom: 50px;
}

.button {
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	border: solid 1px #fff;
	border-radius: 50px;
	padding: 10px 35px;
}

.button span {
	padding-left: 3px;
	font-size: 85%;
}

.button:hover,
.button:active,
.button:focus {
	background: #fff;
	color: #444;
	text-decoration: none;
	-webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.footer {
	background: #fff;
	font-size: 80%;
	color: #ababab;
}

.footer p {
	padding: 5em 0;
	margin-left: -7px;
	line-height: 20px;
}

.footer span {
	padding-left: 0px;	
}

.footer a {
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 900;
	color: #ababab;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
	text-decoration: none;
	color: #444;
	-webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}